#
# Copyright (c) 2023 Jacob Sánchez Pérez
#
# SPDX-License-Identifier: BSD-3-Clause
#

menu "CAFKA Buttons"

config CAFKA_BUTTONS
	bool "Enable the CAF buttons module"
	select CAF_BUTTONS
	select GPIO
	help
	  Enable the CAF buttons module

endmenu
