#
# Copyright (c) 2023 Jacob Sánchez Pérez
#
# SPDX-License-Identifier: BSD-3-Clause
#

menu "CAFKA Modules"

# Power and Settings
rsource "Kconfig.caf_power_manager"
rsource "Kconfig.caf_power_manager.default"
rsource "Kconfig.caf_settings_loader"

# Bluetooth
rsource "Kconfig.ble.default"
rsource "Kconfig.caf_ble_state"
rsource "Kconfig.caf_ble_adv"
rsource "Kconfig.caf_ble_adv.default"
rsource "Kconfig.caf_ble_bond"

# Peripherals
rsource "Kconfig.caf_buttons"
rsource "Kconfig.caf_click_detector"
rsource "Kconfig.caf_sensor_manager"

endmenu
