#
# Copyright (c) 2023 Jacob Sánchez Pérez
#
# SPDX-License-Identifier: BSD-3-Clause
#

# Starter configuration overlay for CAF BLE state module.

if CAFKA_BLE_STATE

config BT_PERIPHERAL
	default y
	help
	  By default, device is configured as peripheral.

if BT_PERIPHERAL

config BT_DEVICE_NAME
	default "CAFKA"
	help
	  The default BT peripheral name to advertise under.

config BT_DEVICE_APPEARANCE
	default 1345
	help
	  The default BT peripheral appearance.

config BT_CONN_CTX
	default y
	help
	  Bluetooth context library (helps keep connection presumably)

endif # BT_PERIPHERAL

endif # CAFKA_BLE_STATE
