#
# Copyright (c) 2023 Jacob Sánchez Pérez
#
# SPDX-License-Identifier: BSD-3-Clause
#

# Starter configuration overlay for CAF power manager module.

if CAFKA_POWER_MANAGER

choice PM_POLICY
	default PM_POLICY_CUSTOM
endchoice

config CAF_POWER_MANAGER_TIMEOUT
	default 20
	help
	  The default power timeout

endif
