#
# Copyright (c) 2023 Jacob Sánchez Pérez
#
# SPDX-License-Identifier: BSD-3-Clause
#

config CAFKA_COMMON
	bool
	default y
	select APP_EVENT_MANAGER
	select CAF
	help
	  Core requirements for the Common Application Framework

config HEAP_MEM_POOL_SIZE
	default 1024
	help
	  By default, CAF needs the heap size to be set.

config IDLE_STACK_SIZE
	default 1024
	help
	  Prevents an overflow when shutting down some devices.
