#
# Copyright (c) 2023 mocast
#
# SPDX-License-Identifier: GPL-2.0-only
#

# Core requirements for the Common Application Framework
config CAFKA_COMMON
	bool
	default y
	select APP_EVENT_MANAGER
	select CAF

config HEAP_MEM_POOL_SIZE
	default 1024
	help
	  By default, CAF needs the heap size to be set.
