#
# Copyright (c) 2023 mocast
#
# SPDX-License-Identifier: GPL-2.0-only
#

menu "App State Example"

config CONFIG_CAFKA_APP_STATE_EXAMPLE
	bool "Enable app state test module"
	depends on CAF
	depends on APP_EVENT_MANAGER
	help
	  Enables a dummy module for testing that reacts to app state events

endmenu
