#
# Copyright (c) 2023 mocast
#
# SPDX-License-Identifier: GPL-2.0-only
#

menu "Power Manager"

config CAFKA_POWER_MANAGER
	bool "Enable the CAF power manager module and its dependencies"
	select CAF_POWER_MANAGER
	select CAF_PM_EVENTS
	help
	  Enable the CAF power manager module and its dependencies

endmenu
