#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Application modules"

rsource "Kconfig.ble.default"
rsource "Kconfig.caf_ble_state"
rsource "Kconfig.caf_ble_state.default"
rsource "Kconfig.caf_ble_adv"
rsource "Kconfig.caf_ble_adv.default"
rsource "Kconfig.caf_power_manager"
rsource "Kconfig.caf_power_manager.default"

# Custom modules
rsource "Kconfig.app_state_example" # Barebones listener
rsource "Kconfig.ble_state_example" # Listens to BLE peer events

endmenu
