#
# Copyright (c) 2023 mocast
#
# SPDX-License-Identifier: GPL-2.0-only
#

menu "Settings Loader"

config CAFKA_SETTINGS_LOADER
	bool "Enable the CAF settings loader module and its dependencies"
	select CAF_SETTINGS_LOADER
	select SETTINGS
	help
	  Enable the CAF power manager module and its dependencies

endmenu
