#
# Copyright (c) 2018-2021 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "App State Test"

config CAFT_APP_STATE_TEST_ENABLE
	bool "Enable app state test module"
	# depends on FEATURE
	# select FEATURE
	help
	  Enables a dummy module for testing that reacts to app state events

endmenu
