#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Application modules"

rsource "Kconfig.ble.default"
rsource "Kconfig.caf_ble_state"
rsource "Kconfig.caf_ble_state.default"
rsource "Kconfig.caf_ble_adv"
rsource "Kconfig.caf_ble_adv.default"
rsource "Kconfig.caf_power_manager"
rsource "Kconfig.caf_power_manager.default"

rsource "Kconfig.app_state_test"
rsource "Kconfig.ble_state_test"

endmenu
