#
# Copyright (c) 2023 mocast
#
# SPDX-License-Identifier: GPL-2.0-only
#

menu "BLE State Example"

config CAFKA_BLE_STATE_EXAMPLE
	bool "Enable ble state test module"
	select CAFKA_BLE_ADV
	select CAFKA_BLE_BOND
	select CAFKA_LEDS
	help
	  Enables a dummy module for testing that reacts to BLE state events

endmenu
